
*{
	margin:0px;
	padding:0px;
	max-width: 1920px;
}
body{background: rgb(0, 0, 0)}
@font-face{
	font-family: Socialico;
	src: url(font/Socialico.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(font/Roboto-Bold.ttf);
}

/**---HEADER---**/
.header {
	width:100%;
	height:800px;
	background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    font-family: "Roboto";
}
li span{
  font-size: 24px;
  font-family: "Socialico";
  color: rgb(255, 255, 255);
  margin:-15px;
}
.header-mid {
	width: 49%;
	color: #ffffff;
	margin: 0 25.5%;
}
.jewerely { /**JEWELERY**/
	display: inline-block;
	background: rgba(0,0,0,0);
	float:left;
	color: rgba(255, 255, 255, 1);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  margin:20px;
}
.inner_content{
    float:left;
    width:100%;
    margin-top:12em;
}

.Creating_realistic { /**Creating_realistic**/
	float:Left;
	font-size: 24px;
	background: rgba(0,0,0,0);	
	font-size: 24px;
	color: rgb(255, 255, 255);
	
}
 
.workshop{/**workshop**/
	font-size: 60px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;  
	width:100%;
	float:left;
	margin-top:18px;
}

.header-button{/**menu**/
	list-style-type: none;
	float: right;
	margin-top: 6px;
}
.header-button li{
	display:inline-block;
	font-size: 14px;
	color: rgba(255, 255, 255, 1);
	margin:13px;
	cursor:pointer;
}
.header-button .home {
	color: rgba(255, 255, 255, 0.5);
	}
li a{	text-decoration:none;
	font-size: 14px;
	color: rgba(255, 255, 255, 1);
	margin:10px;
	}

.header-but-block{
	float:left;
	width:100%;
	margin-top:1em;
}
	
.button{
	float:left;
	display:block;
	font-size: 16px;  
	font-weight: bold;
	color: white; 
	text-decoration: none;
	user-select: none;
	padding: 1em 2.7em;
	outline: none;
	border: 2px solid;
	border-radius: 5px;
	transition: .5s;
	margin-right:20px;
}
.button.default:hover{ background: rgba(255,255,255,.2);} 
.button.red{background-color: rgb(233, 33, 33); border: 2px solid rgb(233, 33, 33);}
.button.red:hover{ background: rgba(255,33,33,.2);}


/**---ABOUT---**/
.about {
	width:100%;
	height:587px;
	background: #999;
	font-size: 18px;
	margin-bottom: 1px;
	
}
.about-mid {
	display: inline-block;
	width:49%;
	height:100%;
	background: #ffffff;
	margin: 0 25.5%;
}
.about-header{
    display: inline-block;
    float:left;
    width:50%;
    height:100%;
    line-height:100%
    }
    .ourih{
    width:100%;
    height:500px;
    
    text-align: left;
    vertical-align: middle;
    display: inline-block;

    line-height: 50px;
    padding: 15px;
    
    float:left;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(70, 70, 70);
    font-weight: bold;
    text-transform: uppercase;

    }
.about-top{
    display: inline-block;
    float:right;
    width:50%;
    height:50%;
}
.about-bot{
    display: inline-block;
    float:right;
    width:50%;
    height:50%;
}


